//*****************************************************
//*   HOME PAGE
//*****************************************************

.home-bgImg-comtainer{
    background-image: url(../img/model-1.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}