body{

    font-family: 'Roboto', sans-serif;  




}
.outsidecontainer{
   padding: 50px 20px 0px 20px; 
   
   width: 90%;
}
.container{
    
padding-top: 50px;
   width: 100%;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
   
   
}

/* Table */
table{
    border: 1px white;
    width: 100%;
    background-color: rgb(248, 246, 242);
    margin: 40px 0px 10px 0px;
    }



tr{
    height: 50px;
    
}
tr:nth-child(even){
    background-color: rgba(219, 212, 212, 0.712);


}

.basliklar{
    background-color: rgb(90, 88, 88);
    color: white;
}



th:nth-child(1),th:nth-child(2){
    text-align: left;
}
th:nth-child(4),th:nth-child(5){
    text-align: right;
}

tr td:nth-child(6){
    text-align: center;
    
}

tr td:nth-child(3){
    text-align: center;
}
td:nth-child(4),td:nth-child(5){
    text-align: right;
}


#toplamkismi{
    background-color: rgb(155, 153, 153);
    color: white;
    text-align: right;
}




/* Buttons */

.btn{
    margin-top: 0.5em;
    display: flex;
    justify-content: flex-end;
    
    
    
    
}


.button1{
    background-color: rgb(238, 176, 139);
    height: 40px;
    font-size: large;
    width: 13rem;
    color: white;
    
}
.button2{
background-color: rgb(238, 176, 139);
margin-left: 10px;
font-size: large;
width: 13rem;
color: white;

}

/* icons */
.checkicon{
    margin-right: 10px;

   
}

.buttonicon{
    color: black;
    margin-right: 10px;
}

